env
data
server2.pem
\angular\angular-app\.angular
/angular/angular-app/.angular
angular/angular-app/node_modules/__ngcc_entry_points__.json
angular/angular-app/node_modules/__ngcc_entry_points__.json
*.txt
*.log
*.pyc
