fibheap == 0.2.1
json5 == 0.9.6
matplotlib == 3.5.1
networkx == 2.8
numpy == 1.22.3
pandas == 1.4.2
pyvis == 0.1.9
qiskit_ignis == 0.7.0
qntsim == 0.1.1
qutip == 4.6.3
scipy == 1.8.0
setuptools == 62.1.0
tabulate == 0.8.9
