<div class="content-wrapper container-fluid">
    <br>
    <h1 class="text-black">Select an Application:</h1>
    <!-- <p-breadcrumb [model]="items" styleClass="breadcrumb"></p-breadcrumb> -->
    <br>
    <i class="fa-solid fa-filter"></i>

    <div class="col-12 md:col-4">
        <div class="container-sm">
            <br>
            <!-- <p-scrollPanel [style]="{width: '100%', height: '400px'}"> -->
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="width: 16rem;">
                        <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">E2E</h5>
                            <h6 class="card-subtitle mb-2 text-muted">End-to-End Entanglements</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of
                                the
                                card's content.</p>
                            <a class="btn mr-2" (click)="e2e()"><i class="fas fa-link"></i> Visit Site</a>
                            <!-- <a class="btn "><i class="fab fa-github"></i> Github</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 16rem;">
                        <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">E91</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Quantum Key Distribution</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of
                                the
                                card's content.</p>
                            <a class="btn  mr-2" (click)="e91()"><i class="fas fa-link"></i> Visit Site</a>
                            <!-- <a href="#" class="btn"><i class="fab fa-github"></i> Github</a> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 16rem;">
                        <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Teleportation</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Quantum Teleportation from one node to another
                            </h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of
                                the
                                card's content.</p>
                            <a class="btn mr-2" (click)="teleportation()"><i class="fas fa-link"></i> Visit
                                Site</a>
                            <!-- <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 16rem;">
                        <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">GHZ</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Create GHZ state</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of
                                the
                                card's content.</p>
                            <a class="btn mr-2" (click)="ghz()"><i class="fas fa-link"></i> Visit Site</a>

                            <!-- <a href="#" class="btn"><i class="fab fa-github"></i> Github</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="width: 16rem;">
                        <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">QSDC</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Two Step QSDC using EPR pairs</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of
                                the
                                card's content.</p>
                            <a class="btn mr-2" (click)="qsdc_epr()"><i class="fas fa-link"></i> Visit
                                Site</a>
                            <!-- <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 16rem;">
                        <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ping Pong</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Message sharing with security</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of
                                the
                                card's content.</p>
                            <a class="btn  mr-2" (click)="pingpong()"><i class="fas fa-link"></i> Visit
                                Site</a>
                            <!-- <a href="#" class="btn"><i class="fab fa-github"></i> Github</a> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 16rem;">
                        <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">QSDC</h5>
                            <h6 class="card-subtitle mb-2 text-muted">QSDC with mutual authentication via rotation on
                                arbitrary basis</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of
                                the
                                card's content.</p>
                            <a class="btn mr-2" (click)="qsdc_mutual_auth()"><i class="fas fa-link"></i> Visit
                                Site</a>
                            <!-- <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> -->
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-3">
                    <div class="card" style="width: 16rem;">
                        <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                             <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of
                                the
                                card's content.</p> 
                <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
            </div>
        </div>
    </div> -->
            </div>


            <!-- </p-scrollPanel> -->
        </div>


    </div>
</div>