<div class="home">
    <div id="parallax" class="container-fluid shadow p-4 bg-network">
        <div class="h-90 d-flex justify-content-between align-items-center row">
            <div class="col-7">
                <section class="jumbotron jumbotron-fluid">
                    <h1 class="display-4 text-custom">Quantum <span class="text-white">Network</span> Simulator</h1>
                    <br>
                    <div class="row">
                        <div class="col-10">
                            <p class="text-white" width="500px">State of the art tool that realistically simulates
                                various optical
                                components and
                                provides a suit of low level and
                                high-level quantum networking protocols which can be directly plugged into their
                                applications by
                                users.
                                It also comes
                                with a set of prebuilt highly popular Quantum Applications from fields like Cryptography
                                and
                                Quantum
                                Secure Direct
                                Communications.</p>
                        </div>
                    </div>
                    <br>
                    <div class="lead">
                        <button type="button" class="btn btn-outline-primary btn-custom" routerLink="/applications">Get
                            Started</button>
                    </div>
                </section>
            </div>
            <div id="globe" class="col-5">
                <div id="globeViz" class="my-auto"></div>
            </div>
        </div>
    </div>
</div>