#globeViz {
    width: 100%;
    // height: 80%;
}

.h-90 {
    min-height: 90vh;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #97DEFF;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    font-weight: bold;
    // margin-top: 40px;
    letter-spacing: 4px;
}



.btn:hover,
.btn:focus {
    background: #97DEFF;
    color: #000;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 5px #97DEFF,
        0 0 25px #97DEFF,
        0 0 50px #97DEFF,
        0 0 100px #97DEFF;
}

span {
    position: absolute;
    display: block;
}

button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #97DEFF);
    animation: btn-anim1 2s linear infinite;
    // animation-duration: 2s;
}



button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #97DEFF);
    animation: btn-anim2 2s linear infinite;
    animation-delay: .5s;

}



button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #97DEFF);
    animation: btn-anim3 2s linear infinite;
    animation-delay: 1s;
    // animation-duration: 2s;
}



button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #97DEFF);
    animation: btn-anim4 2s linear infinite;
    animation-delay: 1.5s;

}

.bg-network {
    min-height: 70vh;
    max-height: 100%;
    // background-image: url('/assets/images/apps.jpg');
    // background-size: cover;
    // background-position-x: 20vw;
    // // background-repeat: repeat-x;
    // background-repeat: no-repeat;
    // background-position-y: top;
    // background-clip: padding-box;
    // image-rendering: pixelated;

    background: transparent;

}

.jumbotron {
    margin-left: 4%;
    // margin-top: 104px;
    // padding: 104px;
}

// .home {
//     margin-top: 10%;
// }
// .container-fluid {
//     padding-bottom: 7rem;
// }

// p {
//     justify-content: center;
//     margin-right: 11%;
//     margin-left: 11%;
//     font-size: large;
// }
.text-custom {
    color: whitesmoke;
    position: relative;
}

.text-custom::after {
    content: '';
    display: block;
    position: absolute;
    top: 75px;
    border: #072155 solid 5px;
    border-radius: 5px;
    // color: red;
    // width: 100px;
    animation-name: barOut;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.home:hover .text-custom::after {
    // width: 500px;
    animation-name: barIn;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.home {
    min-height: 70vh;
}

.image-home {
    max-height: 25%;
    object-fit: cover;
}

a {
    margin-top: 0px;
    margin-left: 11%;
}

// h1 {
//     text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
// }

.p-button-outlined {
    margin-left: 30%;
}

// .my-5 {
//     padding: 1000px;
// }

@keyframes barIn {
    0% {
        width: 200px;
    }

    100% {
        width: 500px;
    }
}

@keyframes barOut {
    from {
        width: 500px;
    }

    to {
        width: 200px;
    }
}