<div class="home">
    <div class="container-fluid shadow p-4 mb-3 bg-white">
        <div class="container">
            <section class="jumbotron jumbotron-fluid">
                <!-- <div class="container mx-auto"> -->
                <h1 class="display-1 text-black text-center">Quantum Network Simulator</h1>
                <hr class="my-5">
                <p class="text-black text-center" width="500px">State of the art tool that realistically simulates
                    various optical
                    components and
                    provides a suit of low level and
                    high-level quantum networking protocols which can be directly plugged into their applications by
                    users.
                    It also comes
                    with a set of prebuilt highly popular Quantum Applications from fields like Cryptography and Quantum
                    Secure Direct
                    Communications.</p>
                <div class="lead text-center">
                    <button type="button" class="btn btn-outline-primary btn-custom" routerLink="/applications">Get
                        Started</button>
                </div>
                <div style="height: 12vw;">
                </div>
            </section>
        </div>
    </div>
</div>