.display-1 {
    margin-left: 12%
}

.p-button-outlined {
    position: relative;
    top: 15px;
    right: 250px;
    margin-left: 0%;
    margin-bottom: 8.7%;
}

.jumbotron {
    margin-top: 104px;
    // padding: 104px;
}

// .home {
//     margin-top: 10%;
// }
// .container-fluid {
//     padding-bottom: 7rem;
// }

p {
    justify-content: center;
    margin-right: 11%;
    margin-left: 11%;
    font-size: large;
}

a {
    margin-top: 0px;
    margin-left: 11%;
}

// h1 {
//     text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
// }

.p-button-outlined {
    margin-left: 30%;
}

// .my-5 {
//     padding: 1000px;
// }