<div class="home">
    <div id="parallax" class="container-fluid shadow p-4 bg-network">
        <div class="h-90 d-flex justify-content-between align-items-center row">
            <div class="col-7">
                <section class="jumbotron jumbotron-fluid">
                    <h1 class="display-4 text-custom">Quantum Network Simulator</h1>
                    <br>
                    <div class="row">
                        <div class="col-10">
                            <p class="text-white" width="500px">A robust simulation tool to benchmark your quantum
                                network architecture against different workloads. Simulate real-world
                                quantum communication applications using our intuitive web interface. Designed for
                                corporates to evaluate the power of
                                quantum secure communications, and for academics to advance breakthroughs in quantum
                                networking.</p>
                        </div>
                    </div>
                    <br>
                    <div class="lead">
                        <button class="btn" routerLink='/minimal'><span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Get Started
                        </button>
                    </div>
                </section>
            </div>
            <div id="globe" class="col-5">
                <div id="globeViz" class="my-auto"></div>
            </div>
        </div>
    </div>
    <h2 class="container-fluid shadow p-4 text-white text-center bg-transparent">Unleash the potential of quantum
        networking with our simulator - test, validate, and innovate!</h2>
    <div class="container-fluid shadow p-4 bg-network">
        <div class="h-90  justify-content-center">

            <div class="row">
                <div class="col-md-6">
                    <div class="card text-white bg-black border-secondary m-5">
                        <div class="card-body  flex-column justify-content-center ">
                            <h3 class="card-title text-center">Optimize Quantum Resource Utilization</h3>
                            <hr class="mx-5">
                            <p class="card-text text-center mx-5">A quantum network simulator can be used to test and
                                optimize quantum communication applications to ensure efficient
                                utilization of quantum resources. By simulating the behavior of quantum networks,
                                researchers and engineers can identify
                                potential issues and improve the performance of their applications before deployment.
                                This can save time and resources,
                                as well as help to ensure the success of quantum communication projects.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-white bg-black border-secondary mb-3">
                        <div class="card-body  flex-column justify-content-center">
                            <h3 class="card-title text-center">Validate Communication Protocols against Adversary
                                Attacks</h3>
                            <p class="card-text text-center">Security is a critical aspect of quantum communication. A
                                quantum network simulator can be used to validate
                                communication protocols against adversary attacks and channel noise models. This ensures
                                that the communication
                                protocols are secure and robust against potential attacks. The simulator can simulate a
                                wide range of scenarios and
                                provide valuable insights into the security of the protocols.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card text-white bg-black border-secondary mb-3">
                        <div class="card-body  flex-column justify-content-center">
                            <h3 class="card-title text-center">Design and Test Quantum Network Routing and Reservation
                                Protocols</h3>
                            <p class="card-text text-center">Designing and testing network routing and reservation
                                protocols for quantum networks can be challenging due to the
                                unique properties of quantum communication. A quantum network simulator can help
                                researchers and engineers to design and
                                test their own network routing and reservation protocols, enabling them to optimize the
                                performance of their networks.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-white bg-black border-secondary mb-3">
                        <div class="card-body  flex-column justify-content-center">
                            <h3 class="card-title text-center">Validate Scalable Quantum Network Designs</h3>
                            <p class="card-text text-center">A quantum network simulator can be used to validate
                                scalable quantum network designs before on-field development. By
                                simulating the behavior of large-scale quantum networks, researchers and engineers can
                                identify potential issues and
                                improve the scalability of their designs. This can save time and resources, as well as
                                help to ensure the success of
                                large-scale quantum communication projects.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="container-fluid shadow p-4 text-white text-center bg-transparent">At the forefront of quantum
            communication,
            we're
            pioneering the way for a faster,
            more secure future!</h2>

        <h1>TODO: Company Testimonials</h1>

        <h2 class="container-fluid shadow p-4 text-white text-center bg-transparent">Key Features</h2>

        <!-- <div class="row mx-5"> -->
        <div class="container container-fluid custom-container align-items-center my-5">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img class="mx-auto" src="/assets/images/ticket.gif">
                        <h3>Customizable architecture</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>The simulator is completely customizable at every layer of the networking stack. Multiple
                            default
                            choices are provided
                            to choose from.</p>
                        <!-- <a href="#">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="/assets/images/flexibility.png">
                        <h3>Performance</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Multithreading approaches are used while designing with Optimum data structures.</p>
                        <!-- <a href="#">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="/assets/images/flexibility.png">
                        <h3>Physical Treatment</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>All our physical components are completely developed keeping quantum treatment in mind to
                            capture
                            maximum quantumness
                            while simulation.</p>
                        <!-- <a href="#">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-fluid custom-container align-items-center">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="/assets/images/flexibility.png">
                        <h3>Design protocols</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>We provide many applications, but the user can also design and develop their own custom
                            protocols
                            and test with our
                            simulator.</p>
                        <!-- <a href="#">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="/assets/images/flexibility.png">
                        <h3>Distributed Systems</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Large networks can be run across multiple devices.</p>
                        <!-- <a href="#">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="/assets/images/flexibility.png">
                        <h3>User-Friendly</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>The wide set of options to choose from lets one design any quantum communication scenario
                            without
                            the need to even
                            understand quantum theory before getting hands-on with this tool.</p>
                        <!-- <a href="#">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>