<!-- <div class="speeddial-linear-demo">
    <p-speedDial [model]="items" direction="top-left" buttonClassName="p-button-success" styleClass="speed-dial">
    </p-speedDial>
</div> -->

<!-- <p-blockUI [blocked]="blocked" [target]="comp"></p-blockUI> -->
<!-- <div *ngIf="spinner==true" class="spinner-border text-primary text-center" role="status">
    <span class="sr-only">Loading...</span>
</div> -->
<div id="comp" class="row-1 container-fluid shadow p-1 mb-1 bg-white rounded mx-auto">
    <div>
        <p-toast position="bottom-center" [baseZIndex]="5000"></p-toast>
        <p-dialog [draggable]="true" [(visible)]="spinner" [showHeader]="false" [blockScroll]="true"
            contentStyleClass="mask-dialog" [closable]="false" [modal]="true" [style]="{color: '#000000'}">
            <div class="loader-body">
                <div class="loading">
                    <div class="circle cyan"></div>
                    <div class="circle magenta"></div>
                    <div class="circle yellow"></div>
                    <p class="paragraph">Running...</p>
                </div>
            </div>
        </p-dialog>

        <!-- <p-toast position="top-right"></p-toast> -->
        <p-dialog header="HELP FOR USING APPLICATION" [draggable]="true" [(visible)]="info" [modal]="false"
            [style]="{width: '50vw'}" position="bottom-right" [resizable]="true">

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1.Configure the network topology
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            The first step is to graph the nodes and quantum connections of the quantum network.
                            Drag and drop components from the
                            left-side toolbox to create the topology graph.
                            Furthermore, you can modify the settings of every component by clicking on it.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2.Set the parameters for the application
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            The parameters of every application determine the requests that network will have to
                            fulfill in order to successfully
                            execute the application.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3.Run the application and get Results
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Now, you can run the application and fetch the statistics and results for a run of the
                            simulator.
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <ul>

                <li><strong>Service Node:</strong> This is the Quantum Router with quantum circuits and bell state
                    analyzers
                </li>
                <li><strong>End Node:</strong> This is the end user node where requests originate from.</li>
                <li><strong>Quantum Connection:</strong> These are optical channels using which entanglements are shared
                </li>
            </ul>
            <ng-template pTemplate="footer">
                <p-button icon="pi pi-check" (click)="info=false" label="Ok" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-dialog>
        <div>
            <div class="row row1">
                <div style="padding-left: 2%;" class="d-flex align-items-end justify-content-start col-2 ">
                    <!-- <h4 class="toolbox">Toolbox</h4> -->
                    <h2 class="display-4 ">{{application|uppercase}}</h2>
                    <!-- <p class="small text-muted">Click a component to change its settings.</p> -->
                </div>
                <div class="d-flex align-items-center justify-content-center col-8">
                    <h3 class="display-4"> <small>Configure the
                            network
                            topology</small></h3>
                </div>

                <div class="d-flex justify-content-between align-items-end btn-group1 col-2">
                    <button class="btn btn-outline-primary btn-sm" (click)="info_demo()"><i
                            class="pi pi-question"></i></button>
                    <button class="btn btn-outline-primary btn-sm" (click)="reload()"><i
                            class="pi pi-replay"></i></button>
                    <button class="btn btn-primary btn-custom btn-sm" (click)="save()">Lock Topology</button>
                </div>
            </div>
        </div>
        <!-- <div *ngIf="spinner" class="lds-dual-ring"></div> -->
        <div id="sample" style="width: 100%;">
            <div *ngIf="step == 2" id="tutorial2" class="body2 row">
                <div>
                    <h6>This is Service Node.
                    </h6>
                </div>
                <div class="d-flex justify-content-end align-items-end btn-custom2">
                    <button class="btn btn-primary btn-sm btn-custom" (click)="next(3)">Next</button>
                </div>
            </div>
            <div *ngIf="step == 3" id="tutorial3" class="body3 row">
                <div>
                    <h6>This is End Node.</h6>
                </div>
                <div class="d-flex justify-content-end align-items-end btn-custom2">
                    <button class="btn btn-primary btn-sm btn-custom" (click)="next(4)">Next</button>
                </div>
            </div>
            <div *ngIf="step == 4" id="tutorial4" class="body4 row">
                <div>
                    <h6>This is Virtual Connection.</h6>
                </div>
                <div class="d-flex justify-content-end align-items-end btn-custom2">
                    <button class="btn btn-primary btn-sm btn-custom" (click)="next(5)">Next</button>
                </div>
            </div>
            <div *ngIf="step == 5" id="tutorial5" class="body5 row">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" (click)="next(7)">X</button>
                </div>
                <br>
                <img src="assets/gifs/tutorial.gif" alt="">
                <div class="d-flex justify-content-end m-3">
                    <button class="btn btn-custom">Next</button>
                </div>
                <br>

                <!-- <button class="btn-sm btn-outlined-"></button> -->
            </div>
            <div *ngIf="!spinner" style="width: 99%; display: flex">
                <div id="myPaletteDiv" class="col-4" class="palette"
                    style="width: 120px; background-color: white; border: outset 1px black">
                </div>
                <div id="myDiagramDiv" class="col-8 diagram" style=" flex-grow: 1; height:
                500px; border: outset 1px black">
                </div>
            </div>
        </div>
        <p-dialog header="Set Application Parameters" [(visible)]="displayPosition" [position]="position" [modal]="true"
            [style]="{width: '80vw'}" [draggable]="true" [resizable]="false">
            <div *ngIf="app_id==1" [formGroup]="e2e">
                <div class="row">
                    <div class="col">
                        <label for="serviceNode">Sender</label>&nbsp;
                        <select class="form-control" formControlName="sender">
                            <option *ngFor="let model of nodes" [value]="model.Name">{{model.Name}}
                            </option>
                        </select>
                        <div class="text-muted">Name of node to establish entanglement from</div>
                    </div>
                    <div class="col">
                        <label for="endNode">Receiver</label>&nbsp;
                        <select class="form-control" formControlName="receiver">
                            <option *ngFor="let model of nodes" [value]="model.Name">{{model.Name}}
                            </option>
                        </select>
                        <div class="text-muted">Name of node to establish entanglement with</div>
                    </div>


                </div>
                <div class="row">
                    <div class="col">
                        <label for="endNode">Size</label>&nbsp;
                        <input type="text" class="form-control" formControlName="size">
                        <div class="text-muted">number of entangled memory pairs to create</div>
                    </div>
                    <!-- <div class="col">
                    <label for="endNode">Priority</label>&nbsp;
                    <input type="text" class="form-control" formControlName="priority">
                    <div class="text-muted">Priority of the request</div>
                </div> -->
                    <div class="col">
                        <label for="endNode">Target Fidelity</label>&nbsp;
                        <input type="text" class="form-control" formControlName="targetFidelity">
                        <div class="text-muted">desired fidelity of entanglement</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="input-group">
                            <label for="timeout" class="col-12">TimeOut</label>&nbsp;
                            <input type="text" class="form-control col-12" aria-label="Amount (to the nearest dollar)"
                                formControlName="timeout">
                            <div class="input-group-append">
                                <span class="input-group-text">sec</span>
                            </div>
                            <div class="text-muted col-12">Time window within which entanglements need to be
                                generated</div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="app_id==2" class="row" [formGroup]="e91">
                <div class="col">
                    <label for="serviceNode">Sender</label>&nbsp;

                    <select class="form-control" formControlName="sender">
                        <option *ngFor="let model of nodes" [value]="model.Name">{{model.Name}}
                        </option>
                    </select>
                    <div class="text-muted">A node in the network Topology.</div>
                </div>
                <div class="col">
                    <label for="endNode">Receiver</label>&nbsp;

                    <select class="form-control" formControlName="receiver">
                        <option *ngFor="let model of nodes" [value]="model.Name">{{model.Name}}
                        </option>
                    </select>
                    <div class="text-muted">A node in the network Topology.</div>
                </div>
                <div class="col">
                    <label for="endNode">Key Length</label>&nbsp;
                    <input type="text" class="form-control" formControlName="keyLength">
                    <div class="text-muted">The length of secret key that has to be shared between sender and receiver.
                    </div>
                </div>

            </div>
            <div *ngIf="app_id==3" [formGroup]="teleportation">
                <div class="row">
                    <div class="col">
                        <label for="serviceNode">Sender</label>&nbsp;
                        <select class="form-control" formControlName="sender">
                            <option *ngFor="let model of nodes" [value]="model.Name">{{model.Name}}
                            </option>
                        </select>
                        <div class="text-muted">A node in the network Topology</div>
                    </div>
                    <div class="col">
                        <label for="endNode">Receiver</label>&nbsp;
                        <select class="form-control" formControlName="receiver">
                            <option *ngFor="let model of nodes" [value]="model.Name">{{model.Name}}
                            </option>
                        </select>
                        <div class="text-muted">A node in the network Topology</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="endNode">Random Qubit Amplitude 1</label>&nbsp;
                        <input type="text" class="form-control" formControlName="amplitude1">
                        <div class="text-muted">Random Single Qubit's amplitude at |0></div>
                    </div>
                    <div class="col">
                        <label for="endNode">Random Qubit Amplitude 2</label>&nbsp;
                        <input type="text" class="form-control" formControlName="amplitude2">
                        <div class="text-muted">Random Single Qubit's amplitude at |1></div>
                    </div>
                </div>
            </div>
            <div *ngIf="app_id==4" [formGroup]="ghz">
                <div class="row">
                    <div class="col">
                        <label for="serviceNode">Node 1</label>&nbsp;
                        <select class="form-control" formControlName="node1">
                            <option *ngFor="let model of nodes" [value]="model.Name">{{model.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="endNode">Node 2</label>&nbsp;
                        <select class="form-control" formControlName="node2">
                            <option *ngFor="let model of nodes" [value]="model.Name">{{model.Name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="serviceNode">Node 3</label>&nbsp;
                        <select class="form-control" formControlName="node3">
                            <option *ngFor="let model of nodes" [value]="model.Name">{{model.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="endNode">Middle Node</label>&nbsp;
                        <select class="form-control" formControlName="middlenode">
                            <option *ngFor="let model of nodes" [value]="model.Name">{{model.Name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div *ngIf="app_id==5" [formGroup]="firstqsdc">
                <div class="row">
                    <div class="col">
                        <label for="serviceNode">Sender</label>&nbsp;
                        <select class="form-control" formControlName="sender">
                            <option *ngFor="let model of graphModel" [value]="model.text">{{model.text}}
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="endNode">Receiver</label>&nbsp;
                        <select class="form-control" formControlName="receiver">
                            <option *ngFor="let model of graphModel" [value]="model.text">{{model.text}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="endNode">Set Sequence Length</label>&nbsp;
                        <input type="number" class="form-control" formControlName="sequenceLength">
                    </div>
                    <div class="col">
                        <label for="endNode">Bit String</label>&nbsp;
                        <input type="number" class="form-control" formControlName="key">
                    </div>
                </div>
            </div>
            <div *ngIf="app_id==6" [formGroup]="pingPong">
                <div class="row">
                    <div class="col">
                        <label for="serviceNode">Sender</label>&nbsp;
                        <select class="form-control" formControlName="sender">
                            <option *ngFor="let model of graphModel" [value]="model.text">{{model.text}}
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="endNode">Receiver</label>&nbsp;
                        <select class="form-control" formControlName="receiver">
                            <option *ngFor="let model of graphModel" [value]="model.text">{{model.text}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="endNode">Set Sequence Length</label>&nbsp;
                        <input type="number" class="form-control" formControlName="sequenceLength">
                    </div>
                    <div class="col">
                        <label for="endNode">Bit String</label>&nbsp;
                        <input type="text" class="form-control" formControlName="message">
                    </div>
                </div>
            </div>
            <div *ngIf="app_id==7" class="row" [formGroup]="ip1">
                <div class="col">
                    <label for="serviceNode">Sender</label>&nbsp;
                    <select class="form-control" formControlName="sender">
                        <option *ngFor="let model of graphModel" [value]="model.text">{{model.text}}
                        </option>
                    </select>
                </div>
                <div class="col">
                    <label for="endNode">Receiver</label>&nbsp;
                    <select class="form-control" formControlName="receiver">
                        <option *ngFor="let model of graphModel" [value]="model.text">{{model.text}}
                        </option>
                    </select>
                </div>
                <div class="col">
                    <label for="endNode">Bit String</label>&nbsp;
                    <input type="text" class="form-control" formControlName="message">
                </div>

            </div>
            <div *ngIf="app_id==8" [formGroup]="spqd">
                <div class="row">
                    <div class="col">
                        <label for="serviceNode">Sender</label>&nbsp;
                        <select class="form-control" formControlName="sender">
                            <option *ngFor="let model of graphModel" [value]="model.text">{{model.text}}
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="endNode">Receiver</label>&nbsp;
                        <select class="form-control" formControlName="receiver">
                            <option *ngFor="let model of graphModel" [value]="model.text">{{model.text}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="endNode">Message 1</label>&nbsp;
                        <input type="text" class="form-control" formControlName="message1">
                    </div>
                    <div class="col">
                        <label for="endNode">Message 2</label>&nbsp;
                        <input type="text" class="form-control" formControlName="message2">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="endNode">Num Photons</label>&nbsp;
                        <input type="number" class="form-control" formControlName="num_photons">
                    </div>
                    <div class="col">
                        <label for="endNode">Attacker</label>&nbsp;
                        <select class="form-control" formControlName="attacker">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                    </div>
                </div>
            </div>
            <div *ngIf="app_id==9" class="row" [formGroup]="qtel">
                <div class="col">
                    <label for="serviceNode">Sender</label>&nbsp;
                    <select class="form-control" formControlName="sender">
                        <option *ngFor="let model of graphModel" [value]="model.text">{{model.text}}
                        </option>
                    </select>
                </div>
                <div class="col">
                    <label for="endNode">Receiver</label>&nbsp;
                    <select class="form-control" formControlName="receiver">
                        <option *ngFor="let model of graphModel" [value]="model.text">{{model.text}}
                        </option>
                    </select>
                </div>
                <div class="col">
                    <label for="endNode">Message</label>&nbsp;
                    <input type="text" class="form-control" formControlName="message">
                </div>

            </div>

            <ng-template pTemplate="footer">
                <p-button (click)="parameters()" label="Run Application">
                </p-button>
            </ng-template>
        </p-dialog>
        <p-sidebar [(visible)]="visibleSideNav" position="right" [baseZIndex]="10000" [transitionOptions]="'100ms'"
            styleClass="sidebar">
            <div id="toolbox" class="col" [formGroup]="toolbox">

                <br>
                <div *ngIf="nodeParams">
                    <div class="display-5">Node Settings</div>
                    <br>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="email" class="form-control" id="name" formControlName="name"
                            aria-describedby="emailHelp" placeholder="Enter Name">
                        <small class="text-muted">Name of the selected node</small>
                        <!-- <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>  -->
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="noOfMemories">No of Memories</label>
                        <input type="number" class="form-control" id="noOfMemories" formControlName="noOfMemories"
                            placeholder="No of Memories">
                        <small class="text-muted">No of Memories</small>
                    </div>
                    <br>
                    <!-- <div class="form-group">
                    <label for="memoryFidelity">Memory Fidelity</label>
                    <input type="text" class="form-control" id="memoryFidelity" placeholder="Memory Fidelity">
                </div> -->
                </div>
                <div *ngIf="link">
                    <div class="display-5">Connection Settings</div>
                    <br>
                    <div class="form-group">
                        <label for="attenuation">Attenuation</label>
                        <input type="number" class="form-control" formControlName="attenuation" id="attenuation"
                            placeholder="Enter in decimals">
                        <div class="text-muted">attenuation of Optical channel's fiber (in dB/m).</div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="distance">Distance</label>
                        <input type="number" class="form-control" id="distance" formControlName="distance"
                            placeholder="Enter Distance">
                        <div class="text-muted">length of the fiber (in km)</div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" pButton pRipple (click)="add()" label="Save"
                        class="ui-button-warning"></button>
                </div>
            </div>

        </p-sidebar>
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
            rejectButtonStyleClass="p-button-text"></p-confirmDialog>
        <div *ngIf="step == 1" id="tutorial1" class="body1">
            <div class="d-flex">
                <h6>You can drag and drop an object to start building topology.
                </h6>
            </div>
            <div class="d-flex justify-content-end align-items-end btn-custom1">
                <button class="btn btn-primary-sm btn-custom" (click)="next(2)">Next</button>
            </div>
        </div>
        <!-- <div *ngIf="step =='2'" id="tutorial2" class="body2 row">
            <div>
                <h6>This is Service Node.
                </h6>
            </div>
            <div class="d-flex justify-content-end align-items-end btn-custom2">
                <button class="btn btn-primary-sm btn-custom" (click)="next('3')">Next</button>
            </div>
        </div>
        <div *ngIf="step =='3'" id="tutorial3" class="body3 row">
            <div>
                <h6>This is End Node.</h6>
            </div>
            <div class="d-flex justify-content-end align-items-end btn-custom2">
                <button class="btn btn-primary-sm btn-custom" (click)="next('3')">Next</button>
            </div>
        </div> -->
    </div>
</div>