.row-1 {
    width: 99%;
    background-color: white;
    // margin: auto;
    margin-top: 5%;
}

.row {
    // width: 99.9%;
    padding-top: 10px;
}

.toolbox {
    z-index: 100000;
    position: absolute;
    top: 25%;
    left: 3%
}

.small {
    z-index: 1058;
    position: absolute;
    top: 70%;
    width: 100px;
    left: 3%
}


.btn-group {
    margin-top: 2%;
    // float: right;
    height: min-content;
}

.lock {
    padding-top: 3%;
    // margin-left: 3%;
}

.sidebar {
    margin-top: 100px;
}



@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 48%;
    width: 30px;

    height: 30px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}