<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QNTSim</title>

	{% load static %}  
	<script src="{% static '/js/jquery.min.js' %}"></script>
	<script src="{% static '/js/load_topology.js' %}"></script>

</head>
<body>
    <h1>Memories after running tlexample</h1>

    {% for key, df in data.items %}
        <h3>{{key}} memories</h3>
        {{df.to_html | safe}}
    {% endfor %}

</body>
</html>