<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QNTSim</title>

	{% load static %}  
	<script src="{% static '/js/jquery.min.js' %}"></script>
	<script src="{% static '/js/load_topology.js' %}"></script>

</head>
<body>
    <h1>Graph Topology</h1>

	<label for="topology">Choose a network topology:</label>

	<select name="topology" id="topology">
	{% comment %} <option value="2-node.json">2-Node</option>
	<option value="3-node.json">3-Node</option> {% endcomment %}
	<option value="3node.json">3Node</option>
	{% comment %} <option value="4-node.json">4-Node</option> {% endcomment %}
	<option value="4node.json">4Node</option>
	</select>
	
	<button type="button" id="submit">Submit</button>
	<div id="response"></div>
</body>
</html>