// .home {
//     padding-top: 6.65%;
//     background-image: url('./assets/bg-image-network.png');
//     background-size: 100% 100%;
//     // filter: blur(8px);

// }
// html {
//     background-color: #f2f2f2;
// }

body {
    --navbar-scroll: white;
    --navbar-scroll-text: black;
    --navbar-scroll-shadow: none;
}