// .home {
//     padding-top: 6.65%;
//     background-image: url('./assets/bg-image-network.png');
//     background-size: 100% 100%;
//     // filter: blur(8px);

// }
// html {
//     background-color: #f2f2f2;
// }

body {
    // background-color: #f2f2f2;
    background-color: #e0e0e0;
    // --navbar-scroll: white;
    --bg-color: #072155;
    --navbar-scroll-text: black;
    --navbar-scroll-shadow: none;
}

.btn-custom {
    color: white;
    background-color: #072155;
}