<div class="row" style="height:89vh;">
    <div class="col-3 p-0 bg-white">
        <p-dialog [draggable]="true" [(visible)]="spinner" [showHeader]="false" [blockScroll]="true"
            contentStyleClass="mask-dialog" [closable]="false" [modal]="true" [style]="{color: '#000000'}">
            <div class="loader-body">
                <div class="loading">
                    <div class="circle cyan"></div>
                    <div class="circle magenta"></div>
                    <div class="circle yellow"></div>
                    <p class="paragraph">Running...</p>
                </div>
            </div>
        </p-dialog>
        <form [formGroup]="topologyForm">
            <h3 class="text-center display-5">
                Configuration
            </h3>
            <div class="d-flex justify-content-center">
                <h5 class="mx-auto">Topology</h5>
            </div>

            <div class="mt-2 col-9 mx-auto">
                <label for="type" class="form-label font-bold">
                    Type
                </label>
                <select class="form-control" formControlName="type" (change)="getType($event)">
                    <option *ngFor="let data of type" [ngValue]="data">{{data}}</option>
                </select>
            </div>

            <div class="mt-2 col-9 mx-auto">
                <label for="type" class="form-label font-bold mb-2">
                    Size {{level}}
                </label>
                <p-slider formControlName="level" [min]="0" [step]="1" [max]="4"
                    (onSlideEnd)="levelChange()"></p-slider>
            </div>
            <hr>
            <div class="d-flex justify-content-center">
                <h5 class="mx-auto">Node</h5>
            </div>

            <div class="mt-2 col-9 mx-auto">
                <label for="type" class="form-label font-bold mb-2">
                    Number of Memories
                </label>
                <input type="number" formControlName="noOfMemories" class="form-control">
            </div>
            <hr>
            <div class="d-flex justify-content-center">
                <h5 class="mx-auto">Quantum Connections</h5>
            </div>
            <div class="mt-2 col-9 mx-auto">
                <label for="type" class="form-label font-bold mb-2">
                    Distance
                </label>
                <input type="number" formControlName="distance" class="form-control">
            </div>
            <div class="mt-2 col-9 mx-auto">
                <label for="type" class="form-label font-bold mb-2">
                    Attenuation
                </label>
                <input type="number" formControlName="attenuity" class="form-control">
            </div>
        </form>
    </div>
    <div class="col-6" style="padding:0;">
        <div id="topology" style="width:100%;height:80%;background-color:white;border: 1px solid black;"></div>
        <div style=" height:20%;width:100%;background-color: white;border: 1px solid black;"
            class="d-flex justify-content-center align-items-center">
            <button class="btn btn-primary btn-custom" (click)="runApp()">Run Application</button>
        </div>
    </div>
    <div class="col-3 p-0 bg-white">
        <form [formGroup]="appForm">
            <h3 class="text-center display-5">Application
                <br> Configuration
            </h3>
            <div class="mt-2 col-9 mx-auto">
                <label for="type" class="form-label font-bold">
                    Application
                </label>
                <select class="form-control" formControlName="app" (change)="getApp($event)">
                    <option *ngFor="let data of applist" [ngValue]="data.appId">{{data.appName}}</option>
                </select>
            </div>
        </form>
        <form [formGroup]="appSettingsForm">
            <div *ngIf="appForm.get('app')?.value != '' ">
                <h5 class="text-center mt-1">Application Settings</h5>
                <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value != 4">
                    <label for="type" class="form-label font-bold">
                        Sender
                    </label>
                    <select class="form-control" formControlName="sender" (click)="updateNodes()"
                        (change)="selectSender($event)">
                        <option *ngFor="let data of nodes" [ngValue]="data.key">{{data.key}}</option>
                    </select>
                </div>
                <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value != 4">
                    <label for="type" class="form-label font-bold">
                        Receiver
                    </label>
                    <select class="form-control" formControlName="receiver" (click)="updateNodes()"
                        (change)="selectReceiver($event)">
                        <option *ngFor="let data of nodes" [ngValue]="data.key">{{data.key}}</option>
                    </select>
                </div>
            </div>
            <!-- <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 3">
                <label for="type" class="form-label font-bold">
                    Amplitude
                </label>
                <select class="form-control" formControlName="amplitude" (change)="selectAmplitude($event)">
                    <option *ngFor="let data of equation" [ngValue]="data.value">
                        <img [src]="data.header" alt="">
                    </option>
                </select>
            </div> -->
            <!-- <div *ngFor="let category of equation" class="field-checkbox">
                <p-radioButton [inputId]="category.value" [value]="category.value" formControlName="amplitude"></p-radioButton>
                <label [for]="category.value">
                    <img [src]="category.header" alt="...">
                </label>
            </div> -->
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 1">
                <label for="type" class="form-label font-bold">
                    Key Length
                </label>
                <input type="number" min="1" oninput="this.value = Math.abs(this.value)" formControlName="keyLength"
                    class="form-control">
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 2">
                <label for="type" class="form-label font-bold">
                    Target Fidelity:{{e2e.targetFidelity}}
                </label>
                <br>
                <p-slider formControlName="targetFidelity" [min]="0" [step]="0.05" [max]="1"
                    (onSlideEnd)="e2eChange('target')"></p-slider>
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 2">
                <label for="type" class="form-label font-bold">
                    Demand:{{e2e.size}}
                </label>
                <br>
                <p-slider formControlName="size" [min]="0" [step]="1" [max]="6"
                    (onSlideEnd)="e2eChange('size')"></p-slider>
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 5">
                <label for="type" class="form-label font-bold">
                    Binary message (only even)
                </label>
                <input type="text" formControlName="key" class="form-control">
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 6">
                <label for="type" class="form-label font-bold">
                    Message
                </label>
                <input type="text" formControlName="message" class="form-control">
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 7">
                <label for="type" class="form-label font-bold">
                    Message
                </label>
                <input type="text" formControlName="message" class="form-control">
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 8">
                <label for="type" class="form-label font-bold">
                    Sender's Message
                </label>
                <input type="text" formControlName="message1" class="form-control">
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 8">
                <label for="type" class="form-label font-bold">
                    Receiver's Message
                </label>
                <input type="text" formControlName="message2" class="form-control">
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 9">
                <label for="type" class="form-label font-bold">
                    Message
                </label>
                <input type="text" formControlName="message" class="form-control">
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 10">
                <label for="type" class="form-label font-bold">
                    Message
                </label>
                <input type="text" formControlName="inputMessage" class="form-control">
            </div>
        </form>
    </div>
</div>