<div class="row" style="height:89vh;">
    <div class="col-3 p-0 bg-white " style="position:relative">
        <!-- <div class="bg-transparent bg-blur" style="position:absolute;height: 100%;width:100%;background-color: black;">
        </div> -->

        <div *ngIf="spinner" class="loader-body">
            <div class="container">
                <img src="https://ik.imagekit.io/qulabs/loader-removebg-preview.png?updatedAt=1679398183211"
                    class="loader-img" alt="...">
            </div>
            <div class="loader-text"></div>
        </div>
        <!-- <div class="load">Loading . . . </div> -->


        <form [formGroup]="topologyForm">
            <h3 class="text-center display-5">
                Configuration
            </h3>
            <div class="d-flex justify-content-center">
                <h5 class="mx-auto">Topology</h5>
            </div>

            <div class="mt-2 col-9 mx-auto">
                <label for="type" class="form-label font-bold">
                    Type
                </label>
                <select class="form-control" formControlName="type" (change)="getType($event)">
                    <option *ngFor="let data of type" [ngValue]="data">{{data}}</option>
                </select>
            </div>

            <div class="mt-2 col-9 mx-auto">
                <label for="type" class="form-label font-bold mb-2">
                    Size {{level}}
                </label>
                <p-slider formControlName="level" (onChange)="levelChange()" [min]="0" [step]="1" [max]="4"
                    (onSlideEnd)="levelChange()"></p-slider>
            </div>
            <hr>
            <div class="d-flex justify-content-end mx-2">
                <div (click)="toggle(1)" id="toggle-button1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path
                            d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                    </svg>
                </div>
            </div>
            <div class="d-flex justify-content-center settingTitle">
                <h5 class="mx-auto">Node</h5>
            </div>
            <div id="content1">
                <div class="mt-2 col-9 mx-auto">
                    <label for="type" class="form-label font-bold mb-2">
                        Number of Memories
                    </label>
                    <input type="number" formControlName="noOfMemories" class="form-control">
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-end mx-2">
                <div (click)="toggle(2)" id="toggle-button2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path
                            d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                    </svg>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <h5 class="mx-auto">Quantum Connections</h5>
            </div>
            <div id="content2">
                <div class="mt-2 col-9 mx-auto">
                    <label for="type" class="form-label font-bold mb-2">
                        Link Length
                    </label>
                    <input type="number" formControlName="distance" class="form-control">
                </div>
                <div class="mt-2 col-9 mx-auto">
                    <label for="type" class="form-label font-bold mb-2">
                        Attenuation
                    </label>
                    <input type="number" formControlName="attenuity" class="form-control">
                </div>
            </div>
        </form>
    </div>
    <div class="col-6" style="padding:0;">
        <div id="topology" style="width:100%;height:80%;background-color:white;border: 1px solid black; z-index: 1;">
        </div>
        <div style=" height:20%;width:100%;background-color: white;border: 1px solid black;"
            class="d-flex justify-content-center align-items-center">
            <button class="btn btn-primary btn-custom" [disabled]="appForm.invalid || topologyForm.invalid"
                (click)="runApp()">Run
                Application</button>
        </div>
    </div>
    <div class="col-custom-3 p-0 bg-white">
        <form [formGroup]="appForm">
            <h3 class="text-center display-5">Application
                <br> Configuration
            </h3>
            <div class="mt-2 col-9 mx-auto">
                <label for="type" class="form-label font-bold">
                    Application
                </label>
                <select class="form-control" formControlName="app" (change)="getApp($event)">
                    <option *ngFor="let data of applist" [ngValue]="data.appId">{{data.appName}}</option>
                </select>
                <div *ngIf="app.touched && app.invalid">
                    <div *ngIf="app.errors.required">
                        <p class="text-danger">Please select an application.</p>
                    </div>
                </div>

                <div *ngIf="app.touched">
                    <br>
                    <p class="text-black text-center">
                        For More Setting,<br>
                        try <a [routerLink]="['/drag']" routerLinkActive="router-link-active">Advanced Version</a>
                    </p>
                </div>
            </div>
        </form>
        <form [formGroup]="appSettingsForm">
            <div *ngIf="appForm.get('app')?.value != '' ">

                <h5 class="text-center mt-1">Application Settings</h5>
                <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value != 4">
                    <label for="type" class="form-label font-bold">
                        Sender
                    </label>
                    <select class="form-control" formControlName="sender">
                        <option *ngFor="let data of endNodes" [ngValue]="data.key">{{data.key}}</option>
                    </select>
                    <div *ngIf="sender.touched && sender.invalid">
                        <div *ngIf="sender.errors.required">
                            <p class="text-danger">Please select an Sender.</p>
                        </div>
                    </div>
                </div>

                <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value != 4">
                    <label for="type" class="form-label font-bold">
                        Receiver
                    </label>
                    <select class="form-control" formControlName="receiver">
                        <option *ngFor="let data of endNodes" [ngValue]="data.key">{{data.key}}</option>
                    </select>
                    <div *ngIf="receiver.touched && receiver.invalid">
                        <div *ngIf="receiver.errors.required">
                            <p class="text-danger">Please select an Receiver.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 1">
                <label for="type" class="form-label font-bold">
                    Key Length
                </label>
                <input type="number" min="1" oninput="this.value = Math.abs(this.value)" formControlName="keyLength"
                    class="form-control">
                <div *ngIf="keyLength.touched && keyLength.invalid">
                    <div *ngIf="keyLength.errors.required">
                        <p class="text-danger">Please enter key length.</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 2">
                <label for="type" class="form-label font-bold">
                    Target Fidelity:{{e2e.targetFidelity}}
                </label>
                <br>
                <p-slider formControlName="targetFidelity" [min]="0" [step]="0.05" [max]="1"
                    (onSlideEnd)="e2eChange('target')"></p-slider>
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 2">
                <label for="type" class="form-label font-bold">
                    Demand:{{e2e.size}}
                </label>
                <br>
                <p-slider formControlName="size" [min]="0" [step]="1" [max]="6"
                    (onSlideEnd)="e2eChange('size')"></p-slider>
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 4">
                <label for="type" class="form-label font-bold">
                    End Node 1
                </label>
                <select class="form-control" formControlName="endnode1">
                    <option *ngFor="let data of endNodes" [ngValue]="data.key">{{data.key}}</option>
                </select>
                <!-- <div *ngIf="node1.touched && node1.invalid">
                    <div *ngIf="node1.errors.required">
                        <p class="text-danger">Please select End Node 1.</p>
                    </div>
                </div> -->
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 4">
                <label for="type" class="form-label font-bold">
                    End Node 2
                </label>
                <select class="form-control" autocomplete="off" formControlName="endnode2">
                    <option *ngFor="let data of endNodes" [ngValue]="data.key">{{data.key}}</option>
                </select>
                <!-- <div *ngIf="appSettingsForm.get('endnode2').touched && node2.invalid">
                    <div *ngIf="node2.errors.required">
                        <p class="text-danger">Please select End Node 2.</p>
                    </div>
                </div> -->
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 4">
                <label for="type" class="form-label font-bold">
                    End Node 3
                </label>
                <select class="form-control" autocomplete="off" formControlName="endnode3">
                    <option *ngFor="let data of endNodes" [ngValue]="data.key">{{data.key}}</option>
                </select>
                <!-- <div *ngIf="node3.touched && node3.invalid">
                    <div *ngIf="node3.errors.required">
                        <p class="text-danger">Please select End Node 3.</p>
                    </div>
                </div> -->
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 4">
                <label for="type" class="form-label font-bold">
                    Central Node
                </label>
                <select class="form-control" formControlName="middleNode">
                    <option *ngFor="let data of serviceNodes" [ngValue]="data.key">{{data.key}}</option>
                </select>
                <!-- <div *ngIf="middlenode.touched && middlenode.invalid">
                    <div *ngIf="middlenode.errors.required">
                        <p class="text-danger">Please select an Central Node.</p>
                    </div>
                </div> -->
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 5">
                <label for="type" class="form-label font-bold">
                    Binary message (only even)
                </label>
                <input type="text" (keypress)="allowBitsInput($event)" formControlName="key" class="form-control">
                <div *ngIf="appSettingsForm.get('key').touched && appSettingsForm.get('key').invalid">
                    <div *ngIf="appSettingsForm.get('key').errors.required">
                        <p class="text-danger">Key is required.</p>
                    </div>
                    <div *ngIf="appSettingsForm.get('key').errors.evenLength">
                        <p class="text-danger">Key must have an even number of characters</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 6">
                <label for="type" class="form-label font-bold">
                    Message
                </label>
                <input type="text" (keypress)="allowBitsInput($event)" formControlName="message" class="form-control">
                <div *ngIf="appSettingsForm.get('message').touched && appSettingsForm.get('message').invalid">
                    <div *ngIf="appSettingsForm.get('message').errors.required">
                        <p class="text-danger">Message is required.</p>
                    </div>
                    <div *ngIf="appSettingsForm.get('message').errors.evenLength">
                        <p class="text-danger">Message must have an even number of characters</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 7">
                <label for="type" class="form-label font-bold">
                    Message (only binary)
                </label>
                <input type="text" (keypress)="allowBitsInput($event)" formControlName="message" class="form-control">
                <div *ngIf="appSettingsForm.get('message').touched && appSettingsForm.get('message').invalid">
                    <div *ngIf="appSettingsForm.get('message').errors.required">
                        <p class="text-danger">Message is required.</p>
                    </div>
                    <div *ngIf="appSettingsForm.get('message').errors.evenLength">
                        <p class="text-danger">Message must have an even number of characters</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 8">
                <label for="type" class="form-label font-bold">
                    Sender's Message
                </label>
                <input type="text" formControlName="message1" class="form-control">
                <div *ngIf="appSettingsForm.get('message1').touched && appSettingsForm.get('message1').invalid">
                    <div *ngIf="appSettingsForm.get('message1').errors.required">
                        <p class="text-danger">Sender's Message is required.</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 8">
                <label for="type" class="form-label font-bold">
                    Receiver's Message
                </label>
                <input type="text" formControlName="message2" class="form-control">
                <div *ngIf="appSettingsForm.get('message2').touched && appSettingsForm.get('message2').invalid">
                    <div *ngIf="appSettingsForm.get('message2').errors.required">
                        <p class="text-danger">Receiver's Message is required.</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 9">
                <label for="type" class="form-label font-bold">
                    Message
                </label>
                <input type="text" formControlName="message" class="form-control">
                <div *ngIf="appSettingsForm.get('message').touched && appSettingsForm.get('message').invalid">
                    <div *ngIf="appSettingsForm.get('message').errors.required">
                        <p class="text-danger">Message is required.</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 col-9 mx-auto" *ngIf="appForm.get('app')?.value == 10">
                <label for="type" class="form-label font-bold">
                    Message
                </label>
                <input type="text" formControlName="inputMessage" class="form-control">
                <div *ngIf="appSettingsForm.get('inputMessage').touched && appSettingsForm.get('inputMessage').invalid">
                    <div *ngIf="appSettingsForm.get('inputMessage').errors.required">
                        <p class="text-danger">Message is required.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>