<h3>First QSDC Application Parameters</h3>

<label for="sender">Select Sender: </label>
<select name="sender" id="sender">
    {% for node in nodes %}
    <option value="{{node}}">{{node}}</option>
    {% endfor %}
</select>

<label for="receiver">Select Receiver: </label>
<select name="receiver" id="receiver">
    {% for node in nodes %}
    <option value="{{node}}">{{node}}</option>
    {% endfor %}
</select>

<label for="sequenceLength">Set sequence length: </label>
<input type="text" name="sequenceLength" id="sequenceLength">
<label for="key">Key: </label>
<input type="text" name="key" id="key">