<!-- <div class="b-example-divider"></div>
<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-1 my-2 border-top">
        <div class="col-md-4 d-flex align-items-center">

            <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Qulabs, Inc</span>
            <br>
            <span class="mb-4 text-white">USA

                Qulabz Inc

                33 Eleanor Drive, Kendall Park

                New Jersey-08824

                V +1609 542 0541

                ​

                INDIA

                Qulabs Software (India) Pvt Ltd

                8-2-351/N/1, 4 & 5th floor,

                Banjara Hills Road No.3,

                Hyderabad-500034,

                Telangana

                C +91 73869 07570</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a href="_blank"><i class="pi pi-twitter"></i></a></li>
            <li class="ms-3"><a href="_blank"><i class="pi pi-instagram"></i></a></li>
            <li class="ms-3">
                <a href="_blank"><i class="pi pi-facebook"></i></a>
            </li>
        </ul>
    </footer>
</div> -->
<div class="container-fluid shadow bg-white">
    <footer class="py-5">
        <div class="row">

            <div class="col-6 col-md-2" style="padding-bottom:1.8%">
                <address><strong class="text-muted">USA</strong>
                    <br>
                    <small class="text-muted">Qulabz Inc,
                        33 Eleanor Drive, Kendall Park,
                        New Jersey-08824,<br>
                        V +1609 542 0541</small>
                </address>
            </div>

            <div class="col-6 col-md-2">
                <address><strong class="text-muted">INDIA</strong>
                    <br>
                    <small class="text-muted"> Qulabs Software (India) Pvt Ltd
                        8-2-351/N/1, 4 & 5th floor,
                        Banjara Hills Road No.3,
                        Hyderabad-500034,
                        Telangana,
                        <br>
                        C +91 73869 07570
                    </small>
                </address>
            </div>

            <div class="col-6 col-md-2 mb-3">

            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; 2022 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-2"><a href="" (click)="route('twitter')" target="_blank"><i class="pi pi-twitter"></i></a>
                </li>
                <li class="ms-2"><a href="" (click)="route('linkedin')" target="_blank"><i
                            class="pi pi-linkedin"></i></a>
                </li>
                <li class="ms-2">
                    <a href="" (click)="route('facebook')" target="_blank"><i class="pi pi-facebook"></i></a>
                </li>
            </ul>
        </div>
    </footer>
</div>