<div class="container-fluid">
    <nav class="navbar navbar-expand-lg nav-custom">
        <div class="row">
            <div class="col-9">
                <img src="assets/images/logo_qntsim-removebg-preview.png" alt="" (click)="home()">
            </div>
            <div class="btn-group col-3">
                <a class="btn text-white home" routerLink="/">Home</a>&nbsp;
                <a class="btn text-white apps" routerLink="/applications/">Applications</a>
            </div>
        </div>
    </nav>
</div>